### Working with Strings in Python 3.6

In [1]:
message = 'Hell with this world'

When using list sling, the first index is inclusive and the second index is not.

In [11]:
print(message[0:4])
print(message[:4]) # does the same thing as above
print(message[15:len(message)])
print(message[15:]) # does the same thing as above

Hell
Hell
world
world

In [14]:
print(message.lower())
print(message.upper())

hell with this world
HELL WITH THIS WORLD

In [16]:
print(message.count("Hell"))
print(message.count("l"))

1
3

In [18]:
print(message.find("this"))
print(message.find("thing"))

10
-1

In [22]:
print(message.replace("world", "fucking world"))
print(message) # original variable is not changed since it is replacing in place

Hell with this fucking world
Hell with this world

In [26]:
greeting = "Hello"
name = "Mike"

# Using string formatting
new_message = '{}, {}. Welcome!'.format(greeting, name)
print(new_message)

# Using f string
new_message_1 = f'{greeting}, {name.upper()}. Welcome!'
print(new_message_1)

Hello, Mike. Welcome!
Hello, MIKE. Welcome!

In [27]:
print(dir(name))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [31]:
# print(help(str))
print(help(str.lower))

Help on method_descriptor:

lower(self, /)
    Return a copy of the string converted to lowercase.

None

#### String formatting

In [255]:
person = {'name': 'Jenn', 'age': 23}

sentence = 'My name is ' + person['name'] + ' and I am ' + str(person['age']) + ' years old.'
print(sentence)

My name is Jenn and I am 23 years old.

In [256]:
sentence = 'My name is {} and I am {} years old.'.format(person['name'], person['age'])
print(sentence)

My name is Jenn and I am 23 years old.

In [257]:
sentence = 'My name is {0} and I am {1} years old.'.format(person['name'], person['age'])
print(sentence)

My name is Jenn and I am 23 years old.

In [261]:
sentence = 'My name is {0[name]} and I am {0[age]} years old.'.format(person)
print(sentence)

My name is Jenn and I am 23 years old.

In [262]:
tag = 'h1'
text = 'This is a headline'

sentence = '<{0}>{1}</{0}>'.format(tag, text)
print(sentence)

<h1>This is a headline</h1>

In [263]:
class Person():

    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person('Jack', '33')

In [264]:
sentence = 'My name is {0.name} and I am {0.age} years old.'.format(p1)
print(sentence)

My name is Jack and I am 33 years old.

In [265]:
sentence = 'My name is {name} and I am {age} years old.'.format(name='Jenn', age='30')

print(sentence)

My name is Jenn and I am 30 years old.

In [267]:
some_person = {'name': 'Jenn', 'age': 23}

sentence = 'My name is {name} and I am {age} years old.'.format(**some_person) # unpacking values from a dictionary
print(sentence)

My name is Jenn and I am 23 years old.

In [274]:
# use : to enable string formatting and specify the syntax after that

for i in range(1, 11):
    print('The value is {}'.format(i))
    print('The value is {:02}'.format(i))
    print()

The value is 1
The value is 01

The value is 2
The value is 02

The value is 3
The value is 03

The value is 4
The value is 04

The value is 5
The value is 05

The value is 6
The value is 06

The value is 7
The value is 07

The value is 8
The value is 08

The value is 9
The value is 09

The value is 10
The value is 10

In [276]:
pi = 3.14159265

print('Pi is equal to {}'.format(pi))
print('Pi is equal to {:.2f}'.format(pi))
print('Pi is equal to {:.3f}'.format(pi))

Pi is equal to 3.14159265
Pi is equal to 3.14
Pi is equal to 3.142

In [280]:
# to specify comma separators

print('1 MB is equal to {:,} bytes'.format(1000**2))
print('1 MB is equal to {:,.2f} bytes'.format(1000**2))

1 MB is equal to 1,000,000 bytes
1 MB is equal to 1,000,000.00 bytes

In [282]:
import datetime

my_date = datetime.datetime(2016, 9, 24, 12, 30, 45)

print(my_date)

2016-09-24 12:30:45
September 24, 2016

In [284]:
# Print in following formats

# March 01, 2016 
print('{:%B %d, %Y}'.format(my_date))

# March 01, 2016 fell on a Tuesday and was the 061 day of the year.
print('{0:%B %d, %Y} fell on a {0} and was the {0} day of the year'.format(my_date))

September 24, 2016
September 24, 2016 fell on a 2016-09-24 12:30:45 and was the 2016-09-24 12:30:45 day of the year

### Working with Numbers in Python 3.6

In [191]:
print("Addition operator: ", 3 + 2)
print("Subtraction operator: ", 3 - 2)
print("Multiplication operator: ", 3 * 2)
print("Division operator: ", 3 / 2)
print("Floor Division operator: ", 3 // 2)
print("Exponent operator: ", 3 ** 2)
print("Modulus operator: ", 3 % 2)

Addition operator:  5
Subtraction operator:  1
Multiplication operator:  6
Division operator:  1.5
Floor Division operator:  1
Exponent operator:  9
Modulus operator:  1

In [38]:
print(3 * 2 + 1)
print(3 * (2 + 1))

7
9

In [39]:
print(abs(-3))

3

In [43]:
print(round(3.75))
print(round(3.75, 1))

4
3.8

### Working with List, Tuples, and Sets in Python 3.6

In [192]:
letter_list = ["A", "B", "C", "D", "E"]
print(len(letter_list))
print(letter_list[0]) # getting the first item
print(letter_list[4]) # getting last item
print(letter_list[-1]) # getting last item by negative index
print(letter_list[:3])

5
A
E
E
['A', 'B', 'C']

In [70]:
letter_list.append("F")
print(letter_list)

['A', 'B', 'C', 'D', 'E', 'F']

In [71]:
letter_list.insert(1, "G")
print(letter_list)

['A', 'G', 'B', 'C', 'D', 'E', 'F']

In [72]:
letter_list_2 = ["X", "Y", "Z"]
letter_list.extend(letter_list_2)
print(letter_list)

['A', 'G', 'B', 'C', 'D', 'E', 'F', 'X', 'Y', 'Z']

In [73]:
letter_list.remove('G')
print(letter_list)

['A', 'B', 'C', 'D', 'E', 'F', 'X', 'Y', 'Z']

In [74]:
popped = letter_list.pop() # remove last element
print("popped value: ", popped)
print(letter_list)

popped value:  Z
['A', 'B', 'C', 'D', 'E', 'F', 'X', 'Y']

In [75]:
# print list in reverse
letter_list.reverse()
print(letter_list)

['Y', 'X', 'F', 'E', 'D', 'C', 'B', 'A']

In [78]:
# Sort list in place using sort() method. Variable assiging not needed
letter_list.sort()
print(letter_list)

# sort in reverse
letter_list.sort(reverse=True)
print(letter_list)

['A', 'B', 'C', 'D', 'E', 'F', 'X', 'Y']
['Y', 'X', 'F', 'E', 'D', 'C', 'B', 'A']

In [79]:
# Sort list without altering original list using sorted() function
# This function can be used on tuples and dictionaries 
# since they do not have their own sort function as in case of a list (list.sort())

In [80]:
example_list = [2,3,1,7,3,8]
sorted_list = sorted(example_list)
print(example_list)
print(sorted_list)

[2, 3, 1, 7, 3, 8]
[1, 2, 3, 3, 7, 8]

In [235]:
# Sorting based on a different criteria
l = [-6,-5,-4,1,2,3]
print(sorted(l, key=abs))

[1, 2, 3, -4, -5, -6]

In [252]:
# Sorting criteria another example
class Employee:
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
        
    def __repr__(self):
        return f"{self.name},{self.age},${self.salary}"
    
e1 = Employee("Mike", 28, 90000)
e2 = Employee("Julia", 27, 80000)
e3 = Employee("Sam", 29, 100000)

employees = [e1, e2, e3]

# def sort_emp(emp):
#     return emp.salary

# print(sorted(employees, key=sort_emp, reverse=True))

# using lambda function
# print(sorted(employees, key=lambda e: e.name))

# use attribute getter
from operator import attrgetter

print(sorted(employees, key=attrgetter('name')))

[Julia,27,$80000, Mike,28,$90000, Sam,29,$100000]

In [82]:
# Min, Max and Sum function
example_list = [2,3,1,7,3,8]
print(min(example_list))
print(max(example_list))
print(sum(example_list))

1
8
24

In [85]:
# find index of a value in list
print(letter_list)
print(letter_list.index("X"))

print("F" in letter_list)
print("P" in letter_list)

['Y', 'X', 'F', 'E', 'D', 'C', 'B', 'A']
1
True
False

In [88]:
for letter in letter_list:
    print(letter)

Y
X
F
E
D
C
B
A

In [90]:
# iterate and get index too
for index, letter in enumerate(letter_list):
    print(index, letter)

0 Y
1 X
2 F
3 E
4 D
5 C
6 B
7 A

In [92]:
# Mutable, list are mutable objects in python
list_1 = [1,2,3]
list_2 = list_1

list_1[0] = 4
print(list_1)
print(list_2)

[4, 2, 3]
[4, 2, 3]

In [94]:
# Immutable objects
# Tuple
tuple_1 = (1,2,3)
tuple_2 = tuple_1

tuple_1[0] = 4

print(tuple_1)
print(tuple_2)

TypeError: 'tuple' object does not support item assignment

In [98]:
# Immutable objects
# Sets

course_set_1 = {"Art", "Math", "CS", "Math"}
course_set_2 = {"Physics", "Chemistry", "Math"}
print(course_set_1) # set automatically removes duplicates
print(course_set_2)

# set operators
print("intersection:", course_set_1.intersection(course_set_2))
print("difference", course_set_1.difference(course_set_2))
print("union", course_set_1.union(course_set_2))

{'Math', 'CS', 'Art'}
{'Chemistry', 'Physics', 'Math'}
intersection: {'Math'}
difference {'CS', 'Art'}
union {'Chemistry', 'Art', 'Math', 'Physics', 'CS'}

In [99]:
# Empty list
l = []
l = list()

# Empty tuple
t = ()
t = tuple()

# Empty set
s = set()

# Empty dictionary 
d = {}
d = dict()

### Dictionaries - Working with Key-Value Pairs

In [101]:
student = {"name": "Mike", "age": 21, "courses": ["Maths", "CS"]}

In [102]:
print(student["name"])

Mike

In [103]:
# getting key which doesn't exists
print(student["phone"])

KeyError: 'phone'

In [105]:
# getting key which doesn't exists without error
print(student.get("Phone"))
print(student.get("Phone", "Key not found")) # Add error message

None
Key not found

In [106]:
# setting new value
student["phone"] = 123987456
print(student)

{'name': 'Mike', 'age': 21, 'courses': ['Maths', 'CS'], 'phone': 123987456}

In [107]:
# update value
student["phone"] = 99999999
print(student)

{'name': 'Mike', 'age': 21, 'courses': ['Maths', 'CS'], 'phone': 99999999}

In [109]:
# update value using update method
student.update({'name': 'Micheal', 'age': 26, 'phone': 111111111})
print(student)

{'name': 'Micheal', 'age': 26, 'courses': ['Maths', 'CS'], 'phone': 111111111}

In [110]:
# delete a key value pair
del student["age"]
print(student)

{'name': 'Micheal', 'courses': ['Maths', 'CS'], 'phone': 111111111}

In [112]:
# delete a key value pair and grab the value using pop method
deleted_phone = student.pop("phone")
print(deleted_phone)
print(student)

111111111
{'name': 'Micheal', 'courses': ['Maths', 'CS']}

In [115]:
print(len(student)) # length of keys in the dict
print(student.keys())
print(student.values())
print(student.items())

2
dict_keys(['name', 'courses'])
dict_values(['Micheal', ['Maths', 'CS']])
dict_items([('name', 'Micheal'), ('courses', ['Maths', 'CS'])])

In [116]:
# loop through a dict
for key, value in student.items():
    print(key, value)

name Micheal
courses ['Maths', 'CS']

### Conditionals and Booleans - If, Else, and Elif Statements

In [126]:
a = [1,2,3]
b = [1,2,3]

print(a == b)
print(f"id of a: {id(b)} and id of b: {id(a)}")
print(a is b)

True
id of a: 4450950536 and id of b: 4450657480
False

In [129]:
# False evaluation

# False value
# False
# None
# Zero of any numeric type
# Any empty sequence, eg: '', [], ()
# or any empty mapping {}

condition =  False

if condition:
    print("Evaluated to True")
else:
    print("Evaluated to False")

Evaluated to False

### Functions

In [132]:
def hello_func():
    return "Hello function!"

print(hello_func().upper())

HELLO FUNCTION!

In [136]:
def hello_function(greeting, name="You"):
    return "{}, {}".format(greeting, name)

print(hello_function('Hi'))
print(hello_function('Hi', name="Shekhar"))

Hi, You
Hi, Shekhar

In [140]:
def student_info(*args, **kwargs):
    print(args, kwargs)
    
student_info("Math", "CS", name="Mike", age=21)

courses = ["Math", "CS"]
info = {"name": "Mike", "age": 21}

student_info(*courses, **info)

('Math', 'CS') {'name': 'Mike', 'age': 21}
('Math', 'CS') {'name': 'Mike', 'age': 21}

### Moduel Imports

In [141]:
import sys

print(sys.path)

['/Users/shekhar/Documents/Notebooks', '/anaconda3/lib/python37.zip', '/anaconda3/lib/python3.7', '/anaconda3/lib/python3.7/lib-dynload', '', '/Users/shekhar/.local/lib/python3.7/site-packages', '/anaconda3/lib/python3.7/site-packages', '/anaconda3/lib/python3.7/site-packages/aeosa', '/anaconda3/lib/python3.7/site-packages/IPython/extensions', '/Users/shekhar/.ipython']

In [146]:
import random

print(letter_list)
print(random.choice(letter_list))

['Y', 'X', 'F', 'E', 'D', 'C', 'B', 'A']
E

In [155]:
import datetime
import calendar

today = datetime.date.today()
print(today)

print(calendar.isleap(2020))

2019-09-09
True

In [159]:
import os

print(os.getcwd())
print(os.__file__) # prints the python module path

/Users/shekhar/Documents/Notebooks
/anaconda3/lib/python3.7/os.py

In [193]:
# change directory using os module

os.chdir('/Users/shekhar/Desktop/')
print(os.getcwd())

/Users/shekhar/Desktop

In [194]:
# to list the file and folders in the directory
print(os.listdir())

['.DS_Store', '.localized', 'Files', 'jolocom']

In [200]:
# make directory
# os.mkdir('Test') # Cannot used mkdir to make subdirectories like /Test/test/
# print(os.listdir())

# In order to make subfolders directories use makedirs os function
os.makedirs('Test5/test/1')
print(os.listdir())

['.DS_Store', 'Test', '.localized', 'Files', 'Test4', 'Test5', 'jolocom']

In [204]:
# os.rmdir("Test") # to remove specific directory

os.removedirs("Test4/test/1") # to remove subfolders directories
print(os.listdir())

['.DS_Store', '.localized', 'Files', 'jolocom']

In [ ]:
# to rename a file or folder
os.rename('original-filename.txt', 'new-filename.txt')

In [209]:
# to get file stats
# os.stat('.DS_Store')

# Useful stat results: st_size (bytes), st_mtime (time stamp) - last modified timestamp
# os.stat('.DS_Store').st_size

from datetime import datetime

last_modified_timestamp = os.stat('.DS_Store').st_mtime 
print(datetime.fromtimestamp(last_modified_timestamp))

2019-09-10 12:00:45.748878

In [213]:
# to list all directories and files in all subdirectories

for dirpath, dirnames, filenames in os.walk(os.getcwd()):
    print("dirpath: ", dirpath)
    print("dirnames: ", dirnames)
    print("filenames: ", filenames)
    print()

In [220]:
# Get environment variables
# os.environ # gets all environment variables of the os
os.environ.get('HOME')

'/Users/shekhar'

In [222]:
# create a path or join paths
file_path = os.path.join(os.environ.get('HOME'), 'test.txt')
print(file_path)

/Users/shekhar/test.txt

In [233]:
# get basename of a filepath
print(os.path.basename('/Users/shekhar/Desktop/Files/mesosphere.jpg'))

# get dir from a filepath
print(os.path.dirname('/Users/shekhar/Desktop/Files/mesosphere.jpg'))

# to get both use split
print(os.path.split('/Users/shekhar/Desktop/Files/mesosphere.jpg'))

# to check whether a file exists
print("Does this file exists: ", os.path.exists('/Users/shekhar/Desktop/Files/mesosphere.jpg'))

# to check for something whether its a file or not
print("Is is a file: ", os.path.isfile('/Users/shekhar/Desktop/Files/mesosphere.jpg'))

# to check for something whether its a directory or not
print("Is it a directory: ", os.path.isdir('/Users/shekhar/Desktop/Files'))

# to split file root and extension
print(os.path.splitext('/Users/shekhar/Desktop/Files/mesosphere.jpg'))

mesosphere.jpg
/Users/shekhar/Desktop/Files
('/Users/shekhar/Desktop/Files', 'mesosphere.jpg')
Does this file exists:  True
Is is a file:  True
Is it a directory:  True
('/Users/shekhar/Desktop/Files/mesosphere', '.jpg')

### Working with dates

https://docs.python.org/2/library/datetime.html

In [8]:
import datetime
import pytz

In [2]:
# Working with datetime.time

# create a date
d = datetime.date(2019, 12, 24)
print(d)

todays_date = datetime.date.today()
print("todays date: ", todays_date)
print("todays date year: ", todays_date.year)
print("todays date month: ", todays_date.month)
print("todays date day: ", todays_date.day)
print("is weekday?", todays_date.weekday()) # Mon:0 - Sun:6
print("is iso weekday?", todays_date.isoweekday()) # Mon:1 - Sun:7

2019-12-24
todays date:  2019-09-10
todays date year:  2019
todays date month:  9
todays date day:  10
is weekday? 1
is iso weekday? 2

In [3]:
# A timedelta object represents a duration, the difference between two dates or times.

todays_date = datetime.date.today()
time_delta = datetime.timedelta(days=7)

print("todays date: ", todays_date)
print(todays_date + time_delta)
print(todays_date - time_delta)

todays date:  2019-09-10
2019-09-17
2019-09-03

In [4]:
bday = datetime.date(2020, 3, 26)
tdate = datetime.date.today()

timedelta = bday - tdate
print(timedelta)
print(timedelta.days)
print(timedelta.total_seconds())
print(dir(timedelta))

198 days, 0:00:00
198
17107200.0
['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'days', 'max', 'microseconds', 'min', 'resolution', 'seconds', 'total_seconds']

In [5]:
# Working with datetime.time

t = datetime.time(9, 11, 54, 100000)
print(t)
print(dir(t))
print(t.hour)
print(t.minute)
print(t.second)

09:11:54.100000
['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'dst', 'fold', 'fromisoformat', 'hour', 'isoformat', 'max', 'microsecond', 'min', 'minute', 'replace', 'resolution', 'second', 'strftime', 'tzinfo', 'tzname', 'utcoffset']
9
11
54

In [6]:
# Working with datetime.datetime

dt = datetime.datetime(2019, 12, 21, 12, 45, 59, 100000)
print(dt)
print(dt.date())
print(dt.time())
print(dt.year)

timedelta_datetime = datetime.timedelta(days=7) # similarly hour, minutes and other things can be setup here
print(dt + timedelta_datetime)

2019-12-21 12:45:59.100000
2019-12-21
12:45:59.100000
2019
2019-12-28 12:45:59.100000

In [7]:
dt_today = datetime.datetime.today() # returns a current local datetime with a timezone of none
dt_now = datetime.datetime.now() # it gives an option to pass the timezone, if left empty .today and .now are similar
dt_utcnow = datetime.datetime.utcnow()
print("dt_today: ", dt_today) 
print("dt_now: ", dt_now)
print("dt_utcnow: ", dt_utcnow)

dt_today:  2019-09-10 15:38:53.983160
dt_now:  2019-09-10 15:38:53.983208
dt_utcnow:  2019-09-10 10:08:53.983240

In [19]:
dt = datetime.datetime(2019, 9, 10, 15, 42, tzinfo=pytz.UTC)
print(dt)
# 2019-09-10 15:42:00+00:00
#                   ^
#               UTC offset

2019-09-10 15:42:00+00:00
datetime_utc_now:  2019-09-10 10:24:19.383753+00:00
indian_time:  2019-09-10 15:52:42.928174+05:30

In [ ]:
# taking a timezone aware UTC datetime and converting it to Indian time (or any other time)

datetime_utc_now = datetime.datetime.now(tz=pytz.UTC)
print("datetime_utc_now: ", datetime_utc_now)

indian_time = datetime_utc_now.astimezone(pytz.timezone('Asia/Kolkata'))
print("indian_time: ", mountain_time)

In [26]:
# making a naive datetime timezone aware
local_dt = datetime.datetime.now()

print(local_dt) # 2019-09-10 16:02:17.359100 <- not timezone aware


#  and we cannot use this naive timezone to convert into another timezone
# like we did previously with astimezone method.
# So we need to convert naive localtime to timezone aware datatime using timezone localized function

# First grab the destination 
indian_tz = pytz.timezone('Asia/Kolkata')

# Localize local datetime
local_dt = indian_tz.localize(local_dt)
print(local_dt) # 2019-09-10 16:10:16.345133+05:30 <- Now it is timezone aware

2019-09-10 16:10:16.345133
2019-09-10 16:10:16.345133+05:30

In [23]:
# to get all pytz timezones
# for timezone in pytz.all_timezones:
#     print(timezone)

In [34]:
datetime_now_local = datetime.datetime.now(tz=pytz.timezone('Asia/Kolkata'))

print(datetime_now_local)
print(datetime_now_local.isoformat())
print(datetime_now_local.strftime('%B %d, %Y'))

2019-09-10 16:17:58.261496+05:30
2019-09-10T16:17:58.261496+05:30
September 10, 2019

In [36]:
# Convert datetime string to datetime custom format
datetime_str = "September 10, 2019"

print(datetime.datetime.strptime(datetime_str,'%B %d, %Y'))

2019-09-10 00:00:00

In [37]:
# strftime -> Converts datetime to string
# strptime -> Converts string to datetime

### Working with File Objects

In [53]:
# The not recommended way of working with files

f = open('/Users/shekhar/Desktop/test.txt', 'r')

print(f.name)
f.close() # need to manually close a file

/Users/shekhar/Desktop/test.txt

In [54]:
# open a file using a context manager
with open('/Users/shekhar/Desktop/test.txt', 'r') as f:
    f_contents = f.read()
    print(f_contents)
    
# f.read() reads the content of the file as such, it is suitable for small files, f.read(100) will read 100 chars of the file
# f.readlines() gets all the lines of the file in a list
# f.readline() get a single line and prints others lines on each such execution

1) Line one
2) Line two
3) Line three
4) Line four
5) Line five
6) Line six
7) Line seven

In [55]:
with open('/Users/shekhar/Desktop/test.txt', 'r') as f:
    file_size_to_read = 15
    f_content = f.read(file_size_to_read)
    
    while len(f_content) > 0:
        print(f_content, end='#')
        f_content = f.read(file_size_to_read)

1) Line one
2) #Line two
3) Lin#e three
4) Line# four
5) Line f#ive
6) Line six#
7) Line seven
#
#

In [52]:
# The seek method
with open('/Users/shekhar/Desktop/test.txt', 'r') as f:
    file_size_to_read = 10
    f_content = f.read(file_size_to_read)
    print(f_content)
    
    print(f.tell())
    f.seek(0) # take the character being read to the start of the file
    print(f.tell())

    f_content = f.read(file_size_to_read)
    print(f_content)

1) Line on
10
0
1) Line on

In [60]:
# Writing to a new file

with open('Test.txt', 'w') as fw:
    fw.write('Test')
    fw.write('Test')

    
with open('Test.txt', 'r') as f:
    print(f.read())

TestTest

In [64]:
# copy to a file
with open('Test.txt', 'r') as rf:
    with open('Test-copy.txt', 'w') as wf:
        for line in rf:
            wf.write(line)
            
with open('Test-copy.txt', 'r') as f:
    print(f.read())
    
# To copy files which are not text like images, just add 'b' to the file mode and the above example will work

TestTest

### List slicing

In [163]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
#          0, 1, 2, 3, 4, 5, 6, 7, 8, 9
#        -10,-9,-8,-7,-6,-5,-4,-3,-2,-1

# list[start:end:step]

print(my_list[::-1])


sample_url = 'http://coreyms.com'
print(sample_url)

# Reverse the url
# print sample_url[::-1]

# # Get the top level domain
# print sample_url[-4:]

# # Print the url without the http://
# print sample_url[7:]

# # Print the url without the http:// or the top level domain
print(sample_url[7:-4])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
http://coreyms.com
coreyms

### List comprehension

In [180]:
nums = [1,2,3,4,5,6,7,8,9]

my_nums = [n for n in nums]
print(my_nums)

my_nums_1 = [n*n for n in nums]
print(my_nums_1)

filter_nums = [n for n in nums if n%2 ==0]
print(filter_nums)

lambda_filter = filter(lambda n: n%2 ==0, nums)
print(list(lambda_filter))

my_list = ['a', 'b', 'c', 'd']
my_list_1 = [(letter,num) for letter in my_list for num in range(4)]
print(my_list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[2, 4, 6, 8]
[2, 4, 6, 8]
[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

### Dictionary and Set comprehension

In [188]:
superheroes = ["Superman", "Batman", "Spider Man"]
names = ["Clark Kent", "Bruce Wayne", "Peter Parker"]

result = zip(superheroes, names)
print(list(result))

# If I want the result to a dictionary key value pair
my_dict = {}

for name, superhero in zip(names, superheroes):
    my_dict[name] = superhero
print(my_dict)

# using comprehension
my_dict_2 = {name:hero for name, hero in zip(names, superheroes) if name != 'Peter Parker'}
print(my_dict_2)

# Set comprehension
my_num_list = [1,1,2,2,3,3,3,4,5,5,6,6,6,6,7,7,7,8,9,9]

my_set = {n for n in my_num_list}
print(my_set)

[('Superman', 'Clark Kent'), ('Batman', 'Bruce Wayne'), ('Spider Man', 'Peter Parker')]
{'Clark Kent': 'Superman', 'Bruce Wayne': 'Batman', 'Peter Parker': 'Spider Man'}
{'Clark Kent': 'Superman', 'Bruce Wayne': 'Batman'}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [190]:
# Generator expression

my_num_list_1 = [1,2,3,4,5,6,7,8,9]

def generator_func(nums):
    for n in nums:
        yield n*n
        
my_generator = generator_func(my_num_list_1)

for i in my_generator:
    print(i)
    
# Now using generator expression, use round braces to create a generator object

my_gen = (n*n for n in my_num_list_1)

for i in my_gen:
    print(i)

1
4
9
16
25
36
49
64
81
1
4
9
16
25
36
49
64
81