### Working with Strings in Python 3.6

In [1]:
message = 'Hell with this world'

When using list sling, the first index is inclusive and the second index is not.

In [11]:
print(message[0:4])
print(message[:4]) # does the same thing as above
print(message[15:len(message)])
print(message[15:]) # does the same thing as above

Hell
Hell
world
world

In [14]:
print(message.lower())
print(message.upper())

hell with this world
HELL WITH THIS WORLD

In [16]:
print(message.count("Hell"))
print(message.count("l"))

1
3

In [18]:
print(message.find("this"))
print(message.find("thing"))

10
-1

In [22]:
print(message.replace("world", "fucking world"))
print(message) # original variable is not changed since it is replacing in place

Hell with this fucking world
Hell with this world

In [26]:
greeting = "Hello"
name = "Mike"

# Using string formatting
new_message = '{}, {}. Welcome!'.format(greeting, name)
print(new_message)

# Using f string
new_message_1 = f'{greeting}, {name.upper()}. Welcome!'
print(new_message_1)

Hello, Mike. Welcome!
Hello, MIKE. Welcome!

In [27]:
print(dir(name))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [31]:
# print(help(str))
print(help(str.lower))

Help on method_descriptor:

lower(self, /)
    Return a copy of the string converted to lowercase.

None

### Working with Numbers in Python 3.6

In [36]:
print("Addition operator: ", 3 + 2)
print("Subtraction operator: ", 3 - 2)
print("Multiplication operator: ", 3 * 2)
print("Division operator: ", 4 / 2)
print("Floor Division operator: ", 4 // 2)
print("Exponent operator: ", 3 ** 2)
print("Modulus operator: ", 3 % 2)

Addition operator:  5
Subtraction operator:  1
Multiplication operator:  6
Division operator:  2.0
Floor Division operator:  2
Exponent operator:  9
Modulus operator:  1

In [38]:
print(3 * 2 + 1)
print(3 * (2 + 1))

7
9

In [39]:
print(abs(-3))

3

In [43]:
print(round(3.75))
print(round(3.75, 1))

4
3.8

### Working with List, Tuples, and Sets in Python 3.6

In [69]:
letter_list = ["A", "B", "C", "D", "E"]
print(len(letter_list))
print(letter_list[0]) # getting the first item
print(letter_list[2]) # getting last item
print(letter_list[-1]) # getting last item by negative index
print(letter_list[:3])

5
A
C
E
['A', 'B', 'C']

In [70]:
letter_list.append("F")
print(letter_list)

['A', 'B', 'C', 'D', 'E', 'F']

In [71]:
letter_list.insert(1, "G")
print(letter_list)

['A', 'G', 'B', 'C', 'D', 'E', 'F']

In [72]:
letter_list_2 = ["X", "Y", "Z"]
letter_list.extend(letter_list_2)
print(letter_list)

['A', 'G', 'B', 'C', 'D', 'E', 'F', 'X', 'Y', 'Z']

In [73]:
letter_list.remove('G')
print(letter_list)

['A', 'B', 'C', 'D', 'E', 'F', 'X', 'Y', 'Z']

In [74]:
popped = letter_list.pop() # remove last element
print("popped value: ", popped)
print(letter_list)

popped value:  Z
['A', 'B', 'C', 'D', 'E', 'F', 'X', 'Y']

In [75]:
# print list in reverse
letter_list.reverse()
print(letter_list)

['Y', 'X', 'F', 'E', 'D', 'C', 'B', 'A']

In [76]:
# Sort list in place using sort() method. Variable assiging not needed

In [78]:
letter_list.sort()
print(letter_list)

# sort in reverse
letter_list.sort(reverse=True)
print(letter_list)

['A', 'B', 'C', 'D', 'E', 'F', 'X', 'Y']
['Y', 'X', 'F', 'E', 'D', 'C', 'B', 'A']

In [79]:
# Sort list without altering original list using sorted() function

In [80]:
example_list = [2,3,1,7,3,8]
sorted_list = sorted(example_list)
print(example_list)
print(sorted_list)

[2, 3, 1, 7, 3, 8]
[1, 2, 3, 3, 7, 8]

In [82]:
# Min, Max and Sum function
example_list = [2,3,1,7,3,8]
print(min(example_list))
print(max(example_list))
print(sum(example_list))

1
8
24

In [85]:
# find index of a value in list
print(letter_list)
print(letter_list.index("X"))

print("F" in letter_list)
print("P" in letter_list)

['Y', 'X', 'F', 'E', 'D', 'C', 'B', 'A']
1
True
False

In [88]:
for letter in letter_list:
    print(letter)

Y
X
F
E
D
C
B
A

In [90]:
# iterate and get index too
for index, letter in enumerate(letter_list):
    print(index, letter)

0 Y
1 X
2 F
3 E
4 D
5 C
6 B
7 A

In [92]:
# Mutable, list are mutable objects in python
list_1 = [1,2,3]
list_2 = list_1

list_1[0] = 4
print(list_1)
print(list_2)

[4, 2, 3]
[4, 2, 3]

In [94]:
# Immutable objects
# Tuple
tuple_1 = (1,2,3)
tuple_2 = tuple_1

tuple_1[0] = 4

print(tuple_1)
print(tuple_2)

TypeError: 'tuple' object does not support item assignment

In [98]:
# Immutable objects
# Sets

course_set_1 = {"Art", "Math", "CS", "Math"}
course_set_2 = {"Physics", "Chemistry", "Math"}
print(course_set_1) # set automatically removes duplicates
print(course_set_2)

# set operators
print("intersection:", course_set_1.intersection(course_set_2))
print("difference", course_set_1.difference(course_set_2))
print("union", course_set_1.union(course_set_2))

{'Math', 'CS', 'Art'}
{'Chemistry', 'Physics', 'Math'}
intersection: {'Math'}
difference {'CS', 'Art'}
union {'Chemistry', 'Art', 'Math', 'Physics', 'CS'}

In [99]:
# Empty list
l = []
l = list()

# Empty tuple
t = ()
t = tuple()

# Empty set
s = set()

# Empty dictionary 
d = {}
d = dict()

### Dictionaries - Working with Key-Value Pairs

In [101]:
student = {"name": "Mike", "age": 21, "courses": ["Maths", "CS"]}

In [102]:
print(student["name"])

Mike

In [103]:
# getting key which doesn't exists
print(student["phone"])

KeyError: 'phone'

In [105]:
# getting key which doesn't exists without error
print(student.get("Phone"))
print(student.get("Phone", "Key not found")) # Add error message

None
Key not found

In [106]:
# setting new value
student["phone"] = 123987456
print(student)

{'name': 'Mike', 'age': 21, 'courses': ['Maths', 'CS'], 'phone': 123987456}

In [107]:
# update value
student["phone"] = 99999999
print(student)

{'name': 'Mike', 'age': 21, 'courses': ['Maths', 'CS'], 'phone': 99999999}

In [109]:
# update value using update method
student.update({'name': 'Micheal', 'age': 26, 'phone': 111111111})
print(student)

{'name': 'Micheal', 'age': 26, 'courses': ['Maths', 'CS'], 'phone': 111111111}

In [110]:
# delete a key value pair
del student["age"]
print(student)

{'name': 'Micheal', 'courses': ['Maths', 'CS'], 'phone': 111111111}

In [112]:
# delete a key value pair and grab the value using pop method
deleted_phone = student.pop("phone")
print(deleted_phone)
print(student)

111111111
{'name': 'Micheal', 'courses': ['Maths', 'CS']}

In [115]:
print(len(student)) # length of keys in the dict
print(student.keys())
print(student.values())
print(student.items())

2
dict_keys(['name', 'courses'])
dict_values(['Micheal', ['Maths', 'CS']])
dict_items([('name', 'Micheal'), ('courses', ['Maths', 'CS'])])

In [116]:
# loop through a dict
for key, value in student.items():
    print(key, value)

name Micheal
courses ['Maths', 'CS']

### Conditionals and Booleans - If, Else, and Elif Statements

In [126]:
a = [1,2,3]
b = [1,2,3]

print(a == b)
print(f"id of a: {id(b)} and id of b: {id(a)}")
print(a is b)

True
id of a: 4450950536 and id of b: 4450657480
False

In [129]:
# False evaluation

# False value
# False
# None
# Zero of any numeric type
# Any empty sequence, eg: '', [], ()
# or any empty mapping {}

condition =  False

if condition:
    print("Evaluated to True")
else:
    print("Evaluated to False")

Evaluated to False

### Functions

In [132]:
def hello_func():
    return "Hello function!"

print(hello_func().upper())

HELLO FUNCTION!

In [136]:
def hello_function(greeting, name="You"):
    return "{}, {}".format(greeting, name)

print(hello_function('Hi'))
print(hello_function('Hi', name="Shekhar"))

Hi, You
Hi, Shekhar

In [140]:
def student_info(*args, **kwargs):
    print(args, kwargs)
    
student_info("Math", "CS", name="Mike", age=21)

courses = ["Math", "CS"]
info = {"name": "Mike", "age": 21}

student_info(*courses, **info)

('Math', 'CS') {'name': 'Mike', 'age': 21}
('Math', 'CS') {'name': 'Mike', 'age': 21}

### Moduel Imports

In [141]:
import sys

print(sys.path)

['/Users/shekhar/Documents/Notebooks', '/anaconda3/lib/python37.zip', '/anaconda3/lib/python3.7', '/anaconda3/lib/python3.7/lib-dynload', '', '/Users/shekhar/.local/lib/python3.7/site-packages', '/anaconda3/lib/python3.7/site-packages', '/anaconda3/lib/python3.7/site-packages/aeosa', '/anaconda3/lib/python3.7/site-packages/IPython/extensions', '/Users/shekhar/.ipython']

In [146]:
import random

print(letter_list)
print(random.choice(letter_list))

['Y', 'X', 'F', 'E', 'D', 'C', 'B', 'A']
E

In [155]:
import datetime
import calendar

today = datetime.date.today()
print(today)

print(calendar.isleap(2020))

2019-09-09
True

In [159]:
import os

print(os.getcwd())
print(os.__file__) # prints the python module path

/Users/shekhar/Documents/Notebooks
/anaconda3/lib/python3.7/os.py

### List slicing

In [163]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
#          0, 1, 2, 3, 4, 5, 6, 7, 8, 9
#        -10,-9,-8,-7,-6,-5,-4,-3,-2,-1

# list[start:end:step]

print(my_list[::-1])


sample_url = 'http://coreyms.com'
print(sample_url)

# Reverse the url
# print sample_url[::-1]

# # Get the top level domain
# print sample_url[-4:]

# # Print the url without the http://
# print sample_url[7:]

# # Print the url without the http:// or the top level domain
print(sample_url[7:-4])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
http://coreyms.com
coreyms

### List comprehension

In [180]:
nums = [1,2,3,4,5,6,7,8,9]

my_nums = [n for n in nums]
print(my_nums)

my_nums_1 = [n*n for n in nums]
print(my_nums_1)

filter_nums = [n for n in nums if n%2 ==0]
print(filter_nums)

lambda_filter = filter(lambda n: n%2 ==0, nums)
print(list(lambda_filter))

my_list = ['a', 'b', 'c', 'd']
my_list_1 = [(letter,num) for letter in my_list for num in range(4)]
print(my_list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[2, 4, 6, 8]
[2, 4, 6, 8]
[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

### Dictionary and Set comprehension

In [188]:
superheroes = ["Superman", "Batman", "Spider Man"]
names = ["Clark Kent", "Bruce Wayne", "Peter Parker"]

result = zip(superheroes, names)
print(list(result))

# If I want the result to a dictionary key value pair
my_dict = {}

for name, superhero in zip(names, superheroes):
    my_dict[name] = superhero
print(my_dict)

# using comprehension
my_dict_2 = {name:hero for name, hero in zip(names, superheroes) if name != 'Peter Parker'}
print(my_dict_2)

# Set comprehension
my_num_list = [1,1,2,2,3,3,3,4,5,5,6,6,6,6,7,7,7,8,9,9]

my_set = {n for n in my_num_list}
print(my_set)

[('Superman', 'Clark Kent'), ('Batman', 'Bruce Wayne'), ('Spider Man', 'Peter Parker')]
{'Clark Kent': 'Superman', 'Bruce Wayne': 'Batman', 'Peter Parker': 'Spider Man'}
{'Clark Kent': 'Superman', 'Bruce Wayne': 'Batman'}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [190]:
# Generator expression

my_num_list_1 = [1,2,3,4,5,6,7,8,9]

def generator_func(nums):
    for n in nums:
        yield n*n
        
my_generator = generator_func(my_num_list_1)

for i in my_generator:
    print(i)
    
# Now using generator expression, use round braces to create a generator object

my_gen = (n*n for n in my_num_list_1)

for i in my_gen:
    print(i)

1
4
9
16
25
36
49
64
81
1
4
9
16
25
36
49
64
81